In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import brands
from latex_conf import build_latex_confusion_matrix

In [2]:
df_phish = pd.read_csv("result_boxes_trained.txt", sep="\t")
df_phish["is_phish"] = 1
df_benign = pd.read_csv("result_boxes_trained_benign.txt", sep="\t")
df_benign["is_phish"] = 0

df_phish = df_phish[df_phish['true_brand'].isin(brands.brands)]
df_benign = df_benign.iloc[:19000, :]

df = df_phish.append(df_benign, ignore_index=True)

df_phish["phish_category"] = np.where(df_phish['true_brand'] == df_phish['pred_brand'], 1, 0)
df_rec = df_phish.append(df_benign, ignore_index=True)

/tmp/ipykernel_384902/1878313900.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_phish.append(df_benign, ignore_index=True)
/tmp/ipykernel_384902/1878313900.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_rec = df_phish.append(df_benign, ignore_index=True)

In [3]:
df_phish

,folder,true_brand,phish_category,pred_brand,runtime_element_recognition,runtime_siamese,is_phish
1,Chase Personal Banking+2020-09-14-12`50`12,Chase Personal Banking,0,Trade Me NZ,0.201234,0.349301,1
2,Netflix Inc.+2020-08-28-14`59`37,Netflix,0,NaN,0.215131,0.479278,1
5,Credit Agricole S.A.+2020-09-17-12`22`30,Credit Agricole S.A,0,SF Express Co,0.190338,0.065490,1
6,Daum+2020-05-22-22`46`19,Daum,0,Credit du Nord,0.177304,0.115537,1
7,Itau Unibanco S.A+2020-06-15-12`13`47,Itau Unibanco S.A,0,PostFinance,0.170173,0.047451,1
...,...,...,...,...,...,...,...
29489,First Investment Bank+2019-09-08-19`32`47,First Investment Bank,0,NBT Bank,0.155504,0.075058,1
29490,Netflix Inc.+2020-06-14-04`59`12,Netflix,0,Bet365,0.184177,0.075283,1
29491,Adobe Inc.+2020-09-08-10`03`03,Adobe,0,Blockchain,0.237275,0.342030,1
29492,ASB Bank Limited+2020-09-06-12`47`38,ASB Bank Limited,1,ASB Bank Limited,0.176773,0.069343,1
29494,Webmail Providers+2020-09-06-14`36`03,Webmail Provider,0,Microsoft,0.178036,0.070739,1

In [4]:
df_benign

,folder,true_brand,phish_category,pred_brand,runtime_element_recognition,runtime_siamese,is_phish
0,quicksigorta.com,quicksigorta.com,1,TD Bank Group,0.148053,0.072708,0
1,mythologian.net,mythologian.net,1,Universo Online,0.201167,0.114814,0
2,asiatimes.com,asiatimes.com,1,Stripe,0.135949,0.213815,0
3,newberry.org,newberry.org,0,NaN,0.193852,0.068055,0
4,allsportsmag.com,allsportsmag.com,1,Aruba S.p.A.,0.240223,0.128070,0
...,...,...,...,...,...,...,...
18995,banque-casino.fr,banque-casino.fr,1,CenturyLink,0.231626,0.149559,0
18996,yztown.club,yztown.club,1,MWeb,0.154191,0.086190,0
18997,jobkorea.co.kr,jobkorea.co.kr,1,ASB Bank Limited,0.168858,0.180623,0
18998,178hui.com,178hui.com,1,SF Express Co,0.163421,0.271063,0
18999,npcloud.it,npcloud.it,1,Cox Communications,0.201559,0.062250,0

In [5]:
df

,folder,true_brand,phish_category,pred_brand,runtime_element_recognition,runtime_siamese,is_phish
0,Chase Personal Banking+2020-09-14-12`50`12,Chase Personal Banking,1,Trade Me NZ,0.201234,0.349301,1
1,Netflix Inc.+2020-08-28-14`59`37,Netflix,0,NaN,0.215131,0.479278,1
2,Credit Agricole S.A.+2020-09-17-12`22`30,Credit Agricole S.A,1,SF Express Co,0.190338,0.065490,1
3,Daum+2020-05-22-22`46`19,Daum,1,Credit du Nord,0.177304,0.115537,1
4,Itau Unibanco S.A+2020-06-15-12`13`47,Itau Unibanco S.A,1,PostFinance,0.170173,0.047451,1
...,...,...,...,...,...,...,...
37427,banque-casino.fr,banque-casino.fr,1,CenturyLink,0.231626,0.149559,0
37428,yztown.club,yztown.club,1,MWeb,0.154191,0.086190,0
37429,jobkorea.co.kr,jobkorea.co.kr,1,ASB Bank Limited,0.168858,0.180623,0
37430,178hui.com,178hui.com,1,SF Express Co,0.163421,0.271063,0
37431,npcloud.it,npcloud.it,1,Cox Communications,0.201559,0.062250,0

In [6]:
confusion_matrix = pd.crosstab(df['is_phish'], df['phish_category'], rownames=['Actual'], colnames=['Predicted'], margins=True)
confusion_matrix_rec = pd.crosstab(df_rec['is_phish'], df_rec['phish_category'], rownames=['Actual'], colnames=['Predicted'], margins=True)

In [7]:
confusion_matrix

Predicted     0      1    All
Actual
0          1604  17396  19000
1          1428  17004  18432
All        3032  34400  37432

In [8]:
confusion_matrix_rec

Predicted      0      1    All
Actual
0           1604  17396  19000
1          17141   1291  18432
All        18745  18687  37432

In [9]:
tp, tp_rec = confusion_matrix[1][1], confusion_matrix_rec[1][1]
fp, fp_rec = confusion_matrix[1][0], confusion_matrix_rec[1][0]
fn, fn_rec = confusion_matrix[0][1], confusion_matrix_rec[0][1]
ppv = tp / (tp + fp)
ppv_rec = tp_rec / (tp_rec + fp_rec)
print(f"Precision: {ppv}, Precision brand: {ppv_rec}")

Precision: 0.49430232558139536, Precision brand: 0.06908546048054798

In [10]:
tpr = tp / (tp + fn)
tpr_rec = tp_rec / (tp_rec + fn_rec)
print(f"Sensitivity: {tpr}, Sensitivity brand: {tpr_rec}")

Sensitivity: 0.9225260416666666, Sensitivity brand: 0.0700412326388889

In [11]:
print(build_latex_confusion_matrix(confusion_matrix))

\def \cTP {17004}
\def \cFP {17396}
\def \cTN {1604}
\def \cFN {1428}
\def \ctiP {18432}
\def \ctiN {19000}
\def \ctpP {34400}
\def \cFpN {3032}
\def \ctotal {37432}
\def \cPPV {49.4\%}
\def \cTPR {92.3\%}
\def \cACC {49.7\%}

In [12]:
print(build_latex_confusion_matrix(confusion_matrix_rec))

\def \cTP {1291}
\def \cFP {17396}
\def \cTN {1604}
\def \cFN {17141}
\def \ctiP {18432}
\def \ctiN {19000}
\def \ctpP {18687}
\def \cFpN {18745}
\def \ctotal {37432}
\def \cPPV {6.9\%}
\def \cTPR {7.0\%}
\def \cACC {7.7\%}